/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
    background-color:#f5f5f5;
}


.zbozi {
    background-color: #fff;
    display: flex;
    width: 670px;
    height: 440px;
    border-radius: 3%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-family:'Rubik', sans-serif;
    box-shadow: 0 5px 10px #959595;
}

/*-----vizual-----*/

.vizual {
    flex: 1;
    background-image: linear-gradient(#06d7c1,#50cc49);
    border-radius: 3% 0% 0% 3%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.slogan {
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.bota {
    position: absolute;
    top: 140px;
    left: -80px;
}

.cenovka {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: right;
    color: #fff;
    line-height: 1.5;
}

.cena {
    font-size: 28px;
    font-weight: 500;
}

.zaruka {
    font-size: 12px;
    font-weight: 400;
}


/*-----detaily-----*/

.detaily {
    flex: 1;
    border-radius: 0% 3% 3% 0%;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    margin-top: 30px;
}

.nazev {
    font-size: 20px;
    font-weight: 500;
    text-transform:uppercase;
    font-weight: 500;
    margin: 0;
}

.produkt {
    color: #959595;
    font-size: 14px;
}

.popis {
    margin-top: 30px;
    border-bottom: 2px solid #06d7c1;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.parametr {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.velikosti {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vybrana {
    font-weight: 500;
    color: #f15f42;
    border: 1px solid #f15f42;
    border-radius: 50% 50%;
    padding: 5px;
    margin-top: -5px;
}

.tlacitko {
    background-color: #f15f42;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5%;
    position: absolute;
    bottom: 30px;
    box-shadow: 1px 1px 4px #959595;
}



